* {
    font-family: Helvetica;
    color: white;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    margin-left: 650px;
    font-size: 30px;
    }

a:hover {
    color:rgba(161, 0, 0, 0.968);
    
}

body {
    background-color: black;
    margin-left:40px;
}


img {
    height: 300px;
    width: auto;
    border: white solid;
}


 li {
    margin-bottom: 15px;
}

.description{

    width: 470px;
    text-align: left;
    height: auto;
    margin: 40px 0px;
}

.description h2{
margin-left: 150px;}



.title {
    margin: 30px 5px;
    width: 500px;
    height: auto;
}
.title h1{
margin-left: 80px;}

.last {
    margin: 40px 0px;
    text-align: left;
    width: 450px;
}

.global{
    margin-top: 20px;
    margin-left: 440px;
    border: white solid;
    width: 500px;
    padding:20px;
    border-radius: 10px;
}